.space{
    margin-right: 5px;
    margin-left:100px;
}
.navbar-brand{
    font-family: 'Lobster', cursive;
    margin-left: 120px;
}
.collapse{
    margin-right: 100px;
}
.fa{
    color: gray;
}

.photosquare{
    width: 500px;
    height: 250px;
}

.post{
    width: 650px;
    background-color: white;
    margin: 20px;
   
}
.posthead{
    width: 650px;
    height: 50px;
    border-color: gray;
}
strong{
    width: 520px;
    margin-left: 20px;
    margin-top: 9px;
    font-size: 22px;
}
.photo
img{
    width: 650px;
}
.caption{
    padding: 10px;
    border-color: gray;
    background-color: white;
}
p{
    color: grey;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: 40px;
    
}
.like{
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.form-control{
    width: 550px;
    border: none;

}

.btn-light{
    margin: 5px;
}
